<div id="container" class="">
  <a href="#">
    <div class="glass"></div>
  </a>
  <div class="reveal-modal">
    <div class="modal-header">
      <h1>Change your info</h1>
      <a href="#" class="close-reveal-modal">×</a>
    </div>
    <div class="modal-content">
      <div *ngIf="user !== null" class="user info">
        <label>
          Name:
          <mat-form-field>
            <input
              matInput
              class="chat-user-create-input"
              type="text"
              [(ngModel)]="user.username"
            />
          </mat-form-field>
        </label>
        <button 
          mat-raised-button 
          color="primary" 
          class="save-changes" 
          (click)="renameUser()"
        >
          Save
        </button>
      </div>
    </div>
  </div>
</div>
